.Home {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3D5467;
    border-radius: 30px;
    padding: 20px; /* Ajout d'un padding pour éviter que le contenu colle aux bords */
    box-sizing: border-box; /* Inclut le padding dans les dimensions */
    
}

.info-global {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end; /* Aligne le contenu en bas */
    align-items: start;
    gap: 10%; /* Espacement entre les enfants */
    min-width: 40%;
    
}

.info-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Aligne les éléments horizontalement à droite */
    gap: 20%; /* Espacement horizontal entre les colonnes */
    
}

.Categories {
    display: flex;
    flex: 1;
    padding: 3%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center; /* Centrer les catégories verticalement */
    align-items: flex-end; /* Aligner les catégories à droite */
    margin-right: 1%;
    gap: 20px; /* Espacement entre les catégories */   
    perspective: 1000px; /* Perspective pour les animations 3D */
    z-index: 1;
    min-width: 50%;
}

.Categorie {
    display: inline-block;
    font-style: italic;
    font-size: 3rem;
    color: #3D5467;
    background-color: #FEFCFD;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transform: rotateX(0deg) rotateY(-45deg); /* Position initiale */
    transform-origin: center;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    min-width: 100%;
    width: 80%;
    z-index: 1;
    pointer-events: auto;
}

.Categorie:hover {
    animation: rotateToFace 1s ease forwards; /* Lance l'animation sur hover */
    background-color: #FEFCFD; /* Change la couleur pendant l'animation */
    z-index: 10;
}



/* Animation pour afficher la catégorie de face */
@keyframes rotateToFace {
    0% {
        margin: 0;
        transform: rotateX(0deg) rotateY(-45deg); /* Position initiale inclinée */
    }
    100% {
        margin: 20px;
        transform: rotateX(0deg) rotateY(0deg); /* Position finale de face */
    }
}

@keyframes rotateToDefault {
    0% {
        margin: 20px;
        transform: rotateX(0deg) rotateY(0deg);
        
    }
    100% {
        margin: 0;
        transform: rotateX(0deg) rotateY(-45deg); /* Position initiale inclinée */
    }
}


@media (max-width: 1200px) {
    .Home {
        justify-content: center;
        flex-direction: column;
    }
    .Categories {
        justify-content: start; /* Centrer les catégories verticalement */
        align-items: center; /* Aligner les catégories à droite */
        margin-right: 0;
        gap: 20px; /* Espacement entre les catégories */   
        perspective: 1000px; /* Perspective pour les animations 3D */
        z-index: 1;
        min-width: 50%;
        max-width: 80%;
    }
    .info-global {
        
        flex-direction: column;
        justify-content: flex-start; /* Aligne le contenu en bas */
        align-items: start;
        gap: 10%; /* Espacement entre les enfants */
        min-width: 40%;
        
    }
    
}